
doctype html
- var nama = 'andijaya'
- var email = 'andijayawizard@gmail.com'

html
	head
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
		title Staff Directory
		style.
			table.ui.celled img {display: inline-block;}
			footer {margin: 35px 0 15px 0; text-align: center}

	body
		main#main
			h1.ui.center.aligned.header Staff Directory
			.ui.container
				include mixins/menu

				block content

			block footer
				footer
					p #{new Date().getFullYear()} #{nama} inc. more info: #{email}