extends layout.pug
block content
	p.
		#{title} #[br]
		#{desc} #[br]
	p.
		roti dan selai #[br]
		bunga dan kumbang #[br]
		romeo dan juliet #[br]
	p.
		beberapa hal dalam hidup, 
		memang ditakdirkan selalu bersama
	p.
		layaknya aku dan kamu
	p.
		asek
	p.
		kaya pernah denger
		iklan apaan neh..

