<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <title>Staff Directory</title>
    <style>
      table.ui.celled img {display: inline-block;}
      footer {margin: 35px 0 15px 0; text-align: center}
      
    </style>
  </head>
  <body>
    <main id="main">
      <h1 class="ui center aligned header">Staff Directory</h1>
      <div class="ui container">
        <div class="ui five item menu"><a class="item" href="/">Home</a><a class="item" href="/about">About Us</a><a class="item" href="/contact">Contact Us</a><a class="item" href="/products">Products</a><a class="item" href="/roti">Roti dan selai</a></div>
        <p> <br>
 <br>
          
        </p>
        <p>roti dan selai</p>
        <p>bunga dan kumbang</p>
        <p>romeo dan juliet</p>
        <p>beberapa hal dalam hidup
          <p>memang ditakdirkan selalu bersama
            <p>layaknya aku dan kamu
              <p>asek</p>
            </p>
          </p>
        </p>
      </div>
      <footer>
        <p>2021 andijaya inc. more info: <a href="mailto:andijayawizard@gmail.com">andijayawizard@gmail.com</a></p>
      </footer>
    </main>
  </body>
</html>